{% extends 'navigation.html' %}
{% load static %}
{% block body %}
<div id="home">
    <section id="hero-banner">
        <div class="banner-inner">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-warning">

                        <h2>Stronger than Ever</h2>
                        <p class="text-warning">Lacking motivation to get back into the gym? Back in the gym already but
                            feel stagnated? Or maybe you’re just looking for new inspiration for a the new year.
                            Whatever your situation, Just..</p>
                        <a class="btn btn-danger btn-lg" href="#">Start Now</a>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/#main-slider-->

    <section id="services">
        <div class="container">

            <div class="section-header">
                <h2 class="section-title wow fadeInDown">Whats Best For You</h2>
                <p class="wow fadeInDown">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget risus
                    vitae massa <br> semper aliquam quis mattis quam.</p>
            </div>

            <div class="row">
                <div class="features">
                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-futbol-o"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Aerobic</h4>
                                <p>Aerobics is a form of physical exercise that combines rhythmic aerobic exercise with
                                    stretching and strength training routines with the goal of improving all.</p>
                            </div>
                        </div>
                    </div>
                    <!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-compass"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Cardio</h4>
                                <p>Cardio is defined as any type of exercise that gets your heart rate up and keeps it
                                    up for a prolonged period of time.</p>
                            </div>
                        </div>
                    </div>
                    <!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="200ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-database"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Six Pack</h4>
                                <p>In certain sports, such as track, gymnastics or triathlon, having a low body fat
                                    percentage that shows off a six-pack is helpful because it means you have less body
                                    mass to carry as you move. In bodybuilding or figure competitions, a low body fat
                                    level and cut, six-pack abs are a must to scoring points with judges.</p>
                            </div>
                        </div>
                    </div>
                    <!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-bar-chart"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Classes</h4>
                                <p>We have rounded up five gym classes that will guarantee visible results while
                                    ensuring that you become a better athlete.</p>
                            </div>
                        </div>
                    </div>
                    <!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-paper-plane-o"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Special Trainer</h4>
                                <p>Personal trainers may specialize in a certain training type, training philosophy,
                                    performance type, exercise modality, or client population. In general, most personal
                                    trainers develop exercise plans for aerobic exercise, resistance exercise, and/or
                                    flexibility training.</p>
                            </div>
                        </div>
                    </div>
                    <!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="500ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-bullseye"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Health Sports</h4>
                                <p>Sports have an immense impact on a person's daily life and health. They do not just
                                    give you an interesting routine but also a healthy body. Getting indulged in
                                    physical activities like sports improves your heart function, reduces the risks of
                                    diabetes, controls blood sugar and lowers tension and stress level.</p>
                            </div>
                        </div>
                    </div>
                    <!--/.col-md-4-->
                </div>
            </div>
            <!--/.row-->
        </div>
        <!--/.container-->
    </section>
    <!--/#services-->


    <section id="about">
        <div class="container">

            <div class="section-header">
                <h2 class="section-title wow fadeInDown">Who we are</h2>
                <p class="wow fadeInDown">We all know that going to the gym is good for your health and we are all aware
                    that we should be a bit more active. Joining a gym makes doing these things a lot.</p>
            </div>

            <div class="row">
                <div class="col-sm-6 wow fadeInLeft">
                    <img class="img-responsive" src="{% static 'images/home.jpg' %}" alt="">
                </div>

                <div class="col-sm-6 wow fadeInRight">
                    <h3 class="column-title">Our Fitness Studio</h3>
                    <p>Fitness Studio. A type of building or property with specific gym equipment and other facilities
                        that offer various types of exercise groups and space for people of all age and ability to
                        exercise or use gym equipment to improve or maintain their health.</p>
                    <ul class="listarrow">
                        <li><i class="fa fa-angle-double-right"></i>Aerobic</li>
                        <li><i class="fa fa-angle-double-right"></i>Cardio</li>
                        <li><i class="fa fa-angle-double-right"></i>Abdomen</li>
                        <li><i class="fa fa-angle-double-right"></i>Special Trainer</li>
                        <li><i class="fa fa-angle-double-right"></i>Round the clock</li>
                    </ul>


                </div>
            </div>
        </div>
    </section>
    <!--/#about-->


    <!--/#our-team-->

    <section id="portfolio">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title wow fadeInDown">Gallery</h2>
                <p class="wow fadeInDown">Take a tour around our facility. Click on the images below to enlarge.</p>
            </div>

            <div class="text-center">
                <ul class="portfolio-filter">
                    <li><a class="active" href="#" data-filter="*">All Works</a></li>
                    <li><a href="#" data-filter=".designing">Designing</a></li>
                    <li><a href="#" data-filter=".mobile">Mobile App</a></li>
                    <li><a href="#" data-filter=".development">Development</a></li>
                </ul>
                <!--/#portfolio-filter-->
            </div>

            <div class="portfolio-items">
                <div class="portfolio-item designing">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{% static 'images/portfolio/a.jpg ' %}" alt="">
                        <div class="portfolio-info">
                            <a class="preview" href="{% static 'images/portfolio/a.jpg' %}" rel="prettyPhoto"><i
                                    class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div>
                <!--/.portfolio-item-->

                <div class="portfolio-item mobile development">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{% static 'images/portfolio/b.jpg' %}" alt="">
                        <div class="portfolio-info">
                            <a class="preview" href="{% static 'images/portfolio/b.jpg' %}" rel="prettyPhoto"><i
                                    class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div>
                <!--/.portfolio-item-->

                <div class="portfolio-item designing">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{% static 'images/portfolio/c.jpg' %}" alt="">
                        <div class="portfolio-info">
                            <a class="preview" href="{% static 'images/portfolio/c.jpg' %}" rel="prettyPhoto"><i
                                    class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div>
                <!--/.portfolio-item-->

                <div class="portfolio-item mobile">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{% static 'images/portfolio/d.jpg' %}" alt="">
                        <div class="portfolio-info">
                            <a class="preview" href="{% static 'images/portfolio/d.jpg' %}" rel="prettyPhoto"><i
                                    class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div>
                <!--/.portfolio-item-->

                <div class="portfolio-item designing development">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{% static 'images/portfolio/e.jpg' %}" alt="">
                        <div class="portfolio-info">
                            <a class="preview" href="{% static 'images/portfolio/e.jpg' %}" rel="prettyPhoto"><i
                                    class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div>
                <!--/.portfolio-item-->

                <div class="portfolio-item mobile">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{% static 'images/portfolio/f.jpg' %}" alt="">
                        <div class="portfolio-info">
                            <a class="preview" href="{% static 'images/portfolio/f.jpg' %}" rel="prettyPhoto"><i
                                    class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div>
                <!--/.portfolio-item-->

                <div class="portfolio-item designing development">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{% static 'images/portfolio/g.jpg' %}" alt="">
                        <div class="portfolio-info">
                            <a class="preview" href="{% static 'images/portfolio/g.jpg' %}" rel="prettyPhoto"><i
                                    class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div>
                <!--/.portfolio-item-->

                <div class="portfolio-item mobile">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{% static 'images/portfolio/h.jpg' %}" alt="">
                        <div class="portfolio-info">
                            <a class="preview" href="{% static 'images/portfolio/h.jpg' %}" rel="prettyPhoto"><i
                                    class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div>
                <!--/.portfolio-item-->
            </div>
        </div>
        <!--/.container-->
    </section>
    <!--/#portfolio-->

    <section id="pricing">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title wow fadeInDown">Pricing</h2>
                <p class="wow fadeInDown">Bundle and Optional Pricing and in this example could be ₱1000 a week.
                    Optional pricing is where a gym could offer a lower price, say ₱2000 a week and the customer would
                    have the flexibility to select the optional add-ons they require.</p>
            </div>

            <div class="row bg-success">
                <div class="col-md-3 col-sm-6 col-xs-12 bg-light">
                    <div class="wow zoomIn" data-wow-duration="400ms" data-wow-delay="0ms">
                        <ul class="pricing">
                            <li class="plan-header">
                                <div class="price-duration">
                                    <span class="price">
                                        ₱1000
                                    </span>
                                    <span class="duration">
                                        per month
                                    </span>
                                </div>

                                <div class="plan-name">
                                    Basic
                                </div>
                            </li>
                            <li><strong>1</strong> DOMAIN</li>
                            <li><strong>100GB</strong> DISK SPACE</li>
                            <li><strong>UNLIMITED</strong> BANDWIDTH</li>
                            <li>SHARED SSL CERTIFICATE</li>
                            <li><strong>10</strong> EMAIL ADDRESS</li>
                            <li><strong>24/7</strong> SUPPORT</li>
                            <li class="plan-purchase"><a class="btn btn-primary" href="{% url 'join_gym' %}">Become
                                    a member</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 bg-light">
                    <div class="wow zoomIn" data-wow-duration="400ms" data-wow-delay="200ms">
                        <ul class="pricing featured">
                            <li class="plan-header">
                                <div class="price-duration">
                                    <span class="price">
                                        ₱2000
                                    </span>
                                    <span class="duration">
                                        per month
                                    </span>
                                </div>

                                <div class="plan-name">
                                    Bronze
                                </div>
                            </li>
                            <li><strong>5</strong> DOMAIN</li>
                            <li><strong>500GB</strong> DISK SPACE</li>
                            <li><strong>UNLIMITED</strong> BANDWIDTH</li>
                            <li>SHARED SSL CERTIFICATE</li>
                            <li><strong>30</strong> EMAIL ADDRESS</li>
                            <li><strong>24/7</strong> SUPPORT</li>
                            <li class="plan-purchase"><a class="btn btn-primary" href="#">Become a member</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 bg-light">
                    <div class="wow zoomIn" data-wow-duration="400ms" data-wow-delay="400ms">
                        <ul class="pricing">
                            <li class="plan-header">
                                <div class="price-duration">
                                    <span class="price">
                                        ₱3000
                                    </span>
                                    <span class="duration">
                                        per month
                                    </span>
                                </div>

                                <div class="plan-name">
                                    Silver
                                </div>
                            </li>
                            <li><strong>10</strong> DOMAIN</li>
                            <li><strong>2GB</strong> DISK SPACE</li>
                            <li><strong>UNLIMITED</strong> BANDWIDTH</li>
                            <li>SHARED SSL CERTIFICATE</li>
                            <li><strong>50</strong> EMAIL ADDRESS</li>
                            <li><strong>24/7</strong> SUPPORT</li>
                            <li class="plan-purchase"><a class="btn btn-primary" href="#">Become a member</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 bg-light">
                    <div class="wow zoomIn" data-wow-duration="400ms" data-wow-delay="600ms">
                        <ul class="pricing">
                            <li class="plan-header">
                                <div class="price-duration">
                                    <span class="price">
                                        ₱4000
                                    </span>
                                    <span class="duration">
                                        per month
                                    </span>
                                </div>

                                <div class="plan-name">
                                    Gold
                                </div>
                            </li>
                            <li><strong>15</strong> DOMAIN</li>
                            <li><strong>10GB</strong> DISK SPACE</li>
                            <li><strong>UNLIMITED</strong> BANDWIDTH</li>
                            <li>SHARED SSL CERTIFICATE</li>
                            <li><strong>100</strong> EMAIL ADDRESS</li>
                            <li><strong>24/7</strong> SUPPORT</li>
                            <li class="plan-purchase"><a class="btn btn-primary" href="#">Become a member</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/#pricing-->



    <section id="business-stats">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title wow fadeInDown">Health Report</h2>
                <p class="wow fadeInDown">It Can Make You Feel Happier. It Can Help With Weight Loss. It Is Good for
                    Your Muscles and Bones. It Can Increase Your Energy Levels. It Can Reduce Your Risk of Chronic
                    Disease. It Can Help Skin Health. It Can Help Your Brain Health and Memory</p>
            </div>

            <div class="row text-center">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="0ms">
                        <div class="business-stats" data-digit="1000" data-duration="1000"></div>
                        <strong>Clients</strong>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="100ms">
                        <div class="business-stats" data-digit="2000" data-duration="1000"></div>
                        <strong>Trainer</strong>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="200ms">
                        <div class="business-stats" data-digit="3000" data-duration="1000"></div>
                        <strong>Programs</strong>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="300ms">
                        <div class="business-stats" data-digit="4000" data-duration="1000"></div>
                        <strong>Successes</strong>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/#business-stats-->



</div>
{% endblock %}

{% block footer %}
<footer id="footer" class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <p class="text-white">Copyright @2021 | Gym Management System | All Rights Reserved</p>
            </div>
            <div class="col-sm-6">
                <ul class="social-icons">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="#"><i class="fa fa-github"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
{% endblock %}